---
// Astro component
// const testimonials = await fetch('./testimonials.json').then((res) => res.json());

// testimonials.astro
const testimonials = [
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
    image: "/KunalSharma.jpg",
  },
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  
  {
    name: "Kunal Sharma",
    post: "Working @Truminds",
    cpspost: "Intern - Batch-1",
    quote: "This service has transformed the way we operate.",
    image: "/KunalSharma.jpg",
  },
  


];

---

<div class="container mx-auto py-10">
  <!-- Swiper Container -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {testimonials.map((testimonial, index) => (
        <div key={index} class="swiper-slide p-6 ">
        <div class="flex flex-row lg:flex-col justify-start items-center rounded bg-white border p-12">
          <div class="hidden lg:flex justify-center items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6">
            <div class="flex-grow-0 flex-shrink-0 w-[10%] h-7 relative overflow-hidden border-t-0 border-r-0 border-b-[4px] border-l-0 border-gray-200"></div>
            <span class="flex-grow-0 flex-shrink-0 text-6xl text-center uppercase text-[var(--accent)]">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
            <div class="flex-grow-0 flex-shrink-0 w-[60%] h-7 relative overflow-hidden border-t-0 border-r-0 border-b-[4px] border-l-0 border-gray-200"></div>
          </div>
          <div class="flex flex-col lg:flex-row justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-10 p-8">
            <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1.5 pt-2 pb-px border-t-0 border-l-0 border-b-0 border-r-2 border-[#d9d9d9] px-10">
              <div class="testimonial-image w-[164px] h-[167px]" style={`background-image: url(${testimonial.image}); background-size: cover; background-position: center;`}></div>
              <p class="flex-grow-0 flex-shrink-0 text-2xl font-semibold text-center  text-gray-900">{testimonial.name}</p>
              <p class="flex-grow-0 flex-shrink-0 text-lg text-center capitalize text-gray-600">{testimonial.post}</p>
              <p class="flex-grow-0 flex-shrink-0 text-lg text-center capitalize text-gray-600">{testimonial.cpspost}</p>
            </div>
            <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-4">
              <p class="flex-grow-0 flex-shrink-0 lg:w-[700px] h-auto text-lg text-left capitalize text-gray-800">
                {testimonial.quote}
              </p>
            </div>
          </div>
          <div class="hidden lg:flex justify-center items-center self-stretch flex-grow-0 flex-shrink-0 h-[58px] relative gap-6">
            <div class="flex-grow-0 flex-shrink-0 w-[60%] h-7 relative overflow-hidden border-t-0 border-r-0 border-b-[4px] border-l-0 border-gray-200"></div>
            <span class="flex-grow-0 flex-shrink-0 text-6xl text-center uppercase text-[var(--accent)]">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </span>
            <div class="flex-grow-0 flex-shrink-0 w-[10%] h-7 relative overflow-hidden border-t-0 border-r-0 border-b-[4px] border-l-0 border-gray-200"></div>
          </div>
        </div>
      </div>

      ))}
    </div>
    
    <!-- Pagination (Optional) -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<script is:inline>
    import Swiper from 'swiper';
    import 'swiper/swiper-bundle.css';

  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
  });
</script>
